defaults: &defaults
  adapter: postgresql
  encoding: unicode
  host: 127.0.0.1
  username: "postgres"
  password: "postgres"
  port: 5432
  pool: 5
  timeout: 5000

test:
  <<: *defaults
  database: simple-sql-test

development:
  <<: *defaults
  database: simple-sql
